[submodule "Plugins/SwiftExtensions/sourcekit-lsp"]
	path = Plugins/SwiftExtensions/sourcekit-lsp
	url = https://github.com/apple/sourcekit-lsp.git
[submodule "Plugins/TabsControl"]
	path = Plugins/TabsControl
	url = git@github.com:Kristalev/KPCTabsControl.git
