//
//  build.xcconfig
//
//  Created by Grigory Markin on 25.04.2020.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

MACOSX_DEPLOYMENT_TARGET = 10.14

// Custom variables
BUILT_PRODUCT_CONTENTS_DIR = $(BUILT_PRODUCTS_DIR)/$(WRAPPER_NAME)/Contents
