//
//  plugin.xcconfig
//
//  Created by Grigory Markin on 19.08.2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "build.xcconfig"

///////////////////////////////////////
// build-plugin-package.sh variables //
///////////////////////////////////////

// Default location of a plugin package (can be overridden in a plugin build config)
PACKAGE_DIR = $(PROJECT_DIR)/../../Packages/$(PROJECT_NAME)
PACKAGE_BUILD_DIR = $(PROJECT_TEMP_DIR)/Packages

// Use workspace Xcode cache
PACKAGES_CACHE_DIR = $(OBJROOT)/../../SourcePackages


/////////////////////
// Xcode variables //
/////////////////////

SWIFT_INCLUDE_PATHS = $(inherited) $(PACKAGE_BUILD_DIR)/$(CONFIGURATION)
LIBRARY_SEARCH_PATHS = $(inherited) $(PACKAGE_BUILD_DIR)/$(CONFIGURATION)
FRAMEWORK_SEARCH_PATHS = $(inherited) $(PACKAGE_BUILD_DIR)/$(CONFIGURATION)

// Install RPATH for each plugin to point to the embedded Frameworks folder
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/../Frameworks

// Link each product to the NimbleCore per default
OTHER_LDFLAGS = $(inherited) -lNimbleCore
