//
//  Plugin.xcconfig
//
//  Created by Grigory Markin on 01.03.19.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../Nimble.xcconfig"

//BUILT_PRODUCTS_DIR = $(inherited)/Plugins
//FRAMEWORK_SEARCH_PATHS = $(inherited) $(BUILT_PRODUCTS_DIR)/../
// INFOPLIST_FILE = $(SRCROOT)/Info.plist
